@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  background-color: #f3e5d8;
}

.encabezado {
  font-family: "DM Serif Display", serif;
  background-color: #255538;
  color: white;
  display: flex;
  width: 100%;
  border-radius: 6px;
  justify-content: space-between;

  align-items: center;
}

.btn-encabezado {
  cursor: pointer;
}

.btn-encabezado:hover {
  text-decoration: underline;
}

.modo-nocturno {
  margin: 15px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  margin: 10px;
  display: flex;
  justify-self: flex-start;
}

.contenedor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card-receta {
  width: 820px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
}

.logo-receta {
  width: 780px;
  height: 287px;
  border-radius: 5px;
  margin: auto;
}

.card-img {
  font-size: 40px;
  line-height: 70px;
  width: 780px;
  height: 287px;
  margin: auto;
  margin-top: 15px;
  object-fit: cover;
}

.contenido-receta {
  width: 780px;
  font-family: "DM Sans", serif;
  padding: 10px;
  font-family: "DM Sans", serif;
  color: black;
}

h1 {
  margin: 20px;
}

.titulo-receta {
  font-family: "DM Serif Display", serif;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  color: #7e4333;
  line-height: 0px;
  vertical-align: top;
  margin: 40px;
}

.preparacion {
  width: 780px;
  height: 168px;
  background-color: #fff7fc;
  margin: auto;
  font-family: "DM Serif Display", serif;

  color: #7e4333;
}

.t-preparacion {
  margin: 20px;
  padding-top: 20px;
  color: #7e4333;
  font-family: "DM Sans", serif;
}

.item {
  color: black;
}

.instrucciones {
  font-family: "DM Serif Display", serif;
  color: #7e4333;
}

.t-instrucciones {
  margin: 20px;
  line-height: 15px;
  padding-top: 10px;
  color: #7e4333;
}

.card-ingredientes {
  width: 400px;
  height: 453px;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
}

.mas-recetas {
  width: 400px;
  height: 375px;
  background-color: #fff;
  margin-bottom: 50px;
  padding-top: 30px;
  padding: 20px;
}

.t-ingre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 350px;
  margin: auto;
  line-height: 35px;
}

.ingredientes-table {
  border-bottom: #255538 1px solid;
}

.ingredientes-table1 {
  border-bottom: #255538 1px solid;
  text-align: end;
}

.pie-de-pagina {
  background-color: #255538;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.ref-2024 {
  display: flex;
  font-family: "Dm sans", serif;
  justify-content: flex-end;
  margin-right: 10px;
}

.cook{
  margin-left: 10px;
}

.t-plus-recetas {
  display: flex;
  width: 370px;
  height: 80px;
  margin: auto;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.img--item {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 5px;
}

.titulo-item {
  margin-right: 10px;
  font-family: "DM Serif Display", serif;
  color: #7e4333;
}
.contenido-item {
  font-family: "DM Sans", serif;
}

a {
  all: unset;
}

@media screen and (max-width: 600px) {
  .contenedor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .card-receta {
    width: 95vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .card-img {
    font-size: 20px;
    line-height: 30px;
    width: 85vw;
    height: 287px;
    margin-top: 15px;
    object-fit: cover;
    margin-left: 4%;
  }

  .contenido-receta {
    width: 90vw;
  }

  .preparacion {
    width: 95vw;
  }
}
