@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
  background-color: #f3e5d8;
  font-family:"DM Serif Display", serif;
}

.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.encabezado {
  font-family:"DM Serif Display", serif;
  background-color: #255538;
  color: white;
  display: flex;
  width: 100%;
  border-radius: 6px;
}

.enviar-receta {
  margin-left: 100px;
}

.hero-images {
  font-size: 40px;
  line-height: 70px;
  width: 1239px;
  height: 368px;
  margin: auto;
  margin-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero-sushi.jpeg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  
}

.titulo-img {
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.card {
  border-radius: 5px;
  background-color: white;
  width: 400px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-img {
  width: 380px;
  height: 248px;
  border-radius: 5px;
  margin: auto;
}

.img-receta {
  display: flex;
  align-items: center;

}
.nombre-receta {
  color: #7E4333;
  font-size: 30px;
  line-height: 0;
  margin-left: 10px;
}
.subtitulo {
  font-size: 24px;
  color: #7E4333;

}